:root {
  --black: #1C232B;
  --grey: #6C7289;
  --cream: #F2EAE2;
  --white: #ffffff;
  --green-light: #3D8168;
  --green-dark: #1A4032;

  --main-font: "Montserrat", sans-serif;
  --sub-font: "Fraunces", serif;
}